@import '../styles/mixins.scss';
@import '../styles/vars.scss';

.feedback {
  position: relative;

  font-family: $ff-tilda;
  
  background-color: $color-2-grey;

  @include vp-1260 {
    padding: 0;

    display: grid;
    grid-template-columns: minmax(auto, 630px) minmax(auto, 630px);
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 50vw;
      right: 0;
    }
  }
}

// Форма

.feedback__formWrapper {
  padding: 15px 10px;

  @include vp-768 {
    padding: 20px;
  }

  @include vp-1260 {
    padding: 40px;
  }
}

.feedback__formTitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  user-select: none;

  @include vp-768 {
    margin-bottom: 20px;

    font-size: $fz-m;
    line-height: 1;
  }

  @include vp-1260 {
    font-weight: 600;
  }
}

.feedback__formSubtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  line-height: 1.2;
  text-align: center;
  user-select: none;

  @include vp-1260 {
    font-size: $fz-m;
  }
}

// =====Contacts=======

.feedback__contacts {
  padding: 15px 10px;

  background-color: $base-light-color;

  box-sizing: border-box;

  @include vp-1260 {
    height: 100%;
    padding: 40px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;
    z-index: 10;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $color-2-greyDarker;
    }
  }
}

.feedback__contactsMainWrapper {

  @include vp-1260 {
    height: 100%;
    max-height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.feedback__contactsMainContent {

  @include vp-1260 {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }
}

.feedback__contactsInner {
  margin-bottom: 15px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-500 {
    margin-bottom: 30px;
  }
    
  @include vp-1260 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.feedback__contactsTitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  font-weight: 500;
  text-align: center;
  user-select: none;
    
  @include vp-1260 {
    margin-bottom: 20px;

    font-size: $fz-m;
    text-align: center;
  }
}

.feedback__contactsItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.feedback__contactsIcon {
  display: flex;
  align-items: center;

  & svg {
    width: 20px;
    height: 20px;
    
    @include vp-1260 {
      width: 25px;
      height: 25px;
    }
  }
}

.feedback__contactsInfo {
  & a {
    margin-bottom: 5px;

    display: block;

    font-size: calc($fz-s + 1px);
    font-weight: 500;
    letter-spacing: 0.5px;
    
    color: $base-dark-color;
  }
  
  & span {
    font-weight: 300;
    letter-spacing: 0.1px;
  }
}

.feedback__socials {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  & a {
    font-size: 16px;

    @include vp-1260 {
      font-size: $fz-s;
    }
  }

  & svg {
    padding: 5px;

    width: 23px;
    height: 23px;
  }

  @include vp-500 {
  }

  @include vp-1260 {
    flex-direction: column;
  }
}

.feedback__contactsMapWrapper {
  display: none;

  @include vp-1260 {
    height: 100%;

    display: flex;

    // background-image: url('../../../public/map.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
  }
}

// =====Formik=======

.feedback__callback {
  max-width: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.callMeBack__submitCover {
  height: 100%;
  min-height: 151px;
  text-align: center;
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    font-weight: 500;
  }
}
