@import '../styles/vars.scss';
@import '../styles/mixins.scss';

.callbackForm {
  width: 100%;
  max-width: 350px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  & > div {
    margin-bottom: 10px;
  }

  & input {
    padding: 10px;

    width: 100%;
    
    display: block;
    box-sizing: border-box;
    
    font-size: $fz-s;
    line-height: 1;
    
    border-radius: 6px;
    outline: none;
    border: 1px solid $color-2-greyDarker;
    
    &::placeholder {
      color: $color-2-greyDarker;
    }
  }
  
  & button {
    margin-bottom: 0;
    padding: 10px 30px;

    width: 100%;
    
    font-size: $fz-s;
    font-family: $ff-tilda;
    font-weight: 500;
    
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: $color-6-red;
    color: $base-light-color;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: $color-6-red-lighter;
      color: $base-light-color;
    }

    &:disabled {
      pointer-events: none;
      user-select: none;
      opacity: 0.5;
    }

    @include vp-1260 {
      font-size: calc($fz-m - 3px);
    }
  }
}
