@import '../ui/styles/vars.scss';
@import '../ui/styles/mixins.scss';

.gallery {
  padding: 10px 0;
  
  flex-grow: 1;

  text-align: center;
  font-family: $ff-tilda;

  background-color: $base-light-color;
  
  @include vp-1260 {
    padding: 20px 0;
  }
}

.gallery__info {
  margin-bottom: 10px;

  @include vp-768 {
    margin-bottom: 20px;
  }
}

.gallery__title {
  margin: 0 auto;
  margin-bottom: 5px;
  
  font-size: $fz-m;
  font-weight: 600;
  text-align: center;

  @include vp-768 {
    margin-bottom: 10px;
  }

  @include vp-1260 {
    margin-bottom: 15px;

    font-size: $fz-l;
  }
}

.gallery__subtitle {
  margin: 0;

  font-size: $fz-s;

  @include vp-768 {
    width: 80%;
    margin: 0 auto;

    font-size: calc($fz-m - 2px);
    line-height: 1.2;
  }
}

.gallery__backLink {
  padding: 5px;

  width: auto;
  height: 100%;

  display: flex;
  align-items: center;

  box-shadow: 0 0 1px 0 $base-dark-color;
  color: $base-dark-color;

  & svg {
    width: 10px;
    height: 10px;
  }

  @include vp-1260 {
    display: none;
  }
}

.gallery__content {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  & img {
    aspect-ratio: 1/1;
  }

  @include vp-500 {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @include vp-1260 {
    grid-template-columns: repeat(5, 1fr);
  }
}
