@import '../styles/mixins.scss';
@import '../styles/vars.scss';

.advantages {
  padding: 10px 0 25px;

  text-align: center;
  font-family: $ff-tilda;

  background-color: $base-light-color;

  @include vp-768 {
    padding: 20px 0 30px;
  }

  @include vp-1260 {
    padding: 20px 0 40px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: $fz-s;
  font-weight: 500;
  text-align: center;

  @include vp-768 {
    margin-bottom: 20px;
    font-size: $fz-m;
  }
  
  @include vp-1260 {
    font-size: $fz-m;
    margin-bottom: 40px;
    font-weight: 600;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  list-style: none;

  @include vp-500 {
    gap: 15px;
  }

  @include vp-768 {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  @include vp-1260 {
    gap: 20px;
  }
}

.advantages__item {
  padding: 5px;
  height: 100%;
  
  background-color: #f7f8f9;
  user-select: none;

  @include vp-500 {
    padding: 10px;
  }
}

.advantages__image {
  margin-bottom: 5px;

  & svg {
    width: 20px;
    height: 20px;

    @include vp-768 {
      width: 25px;
      height: 25px;
    }
    
    @include vp-1260 {
      width: 30px;
      height: 30px;
    }
  }

  @include vp-1260 {
    margin-bottom: 10px;
  }
}

.advantages__itemName {
  margin: 0;
  margin-bottom: 5px;

  font-size: $fz-s;
  font-weight: 600;

  @include vp-1260 {
    margin-bottom: 10px;
    font-size: calc($fz-s + 4px);
  }
}

.advantages__itemText {
  margin: 0;

  font-size: calc($fz-s - 3px);
  line-height: 1;

  @include vp-768 {
    font-size: calc($fz-s - 2px);
  }

  @include vp-1260 {
    font-size: calc($fz-s + 4px);
  }
}
