// Colors
$base-dark-color: #000000;
$base-light-color: #ffffff;

$color-1-violet: #B7AEF2;
$color-2-grey: #f7f8f9;
$color-2-greyDarker: #cdcdcd;
$color-3-blue: #e1f6fe;
$color-4-greenDark: #00ab17;
$color-5-green: #52c41a;
$color-6-red: #FA3D03;
$color-6-red-lighter: #fd6638;

// Indents
$primary-indent: 10px;
$secondary-indent: 20px;

// Fonts
$ff-tilda: "Tilda Sans", "Arial", sans-serif;
$fz-s: 15px;
$fz-m: 20px;
$fz-l: 25px;

// Breakpoints
$vp-500: 500px;
$vp-768: 768px;
$vp-1260: 1260px;
$vp-1380: 1380px;
$vp-1600: 1600px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
